{% extends "base.html" %}
{% block body %}
<div class="banner text-center">
	<div class="container">    
		<h1>Sell or Advertise   <span class="segment-heading">    anything online </span> with Resale</h1>
		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
		<a href="{% url 'mysite:post_add'%}">Post Free Ad</a>
	</div>
</div>
<!-- Categories -->
<!--Vertical Tab-->
<div class="categories-section main-grid-border">
	<div class="container">
		<h2 class="head">Main Categories</h2>
		<div class="category-list">
			<div id="parentVerticalTab">
				<ul class="resp-tabs-list hor_1">
					{% for i in cat %}
					<li>{{i.category_name}}</li>
					{% endfor %}
					<a href="{% url 'mysite:all-classifieds'%}">All Ads</a>
				</ul>
				<div class="resp-tabs-container hor_1">
					{% for i in cat %}
					<div>
						<div class="category">
							<div class="category-img">
									<div class="focus-image"><i class="{{i.icon}}" style="background:{{i.color}}"></i></div>	
							</div>
							<div class="category-info">
								<h4 class="pt-5 mt-5" style="color:{{i.color}}">{{i.category_name}}</h4>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="sub-categories">
								{% for j in adds %}
								{% if i.category_name == j.category_name%}
								<a href="{% url 'mysite:single_product'%}?id={{j.id}}">
								<div class="row">
								<div class="col-md-6" style="padding:20px;">
									<img src="/media/{{j.img1}}">
								</div>
								<div class="col-md-6" style="padding:20px;">
									<h2 style="color:{{i.color}}">{{j.title}}</h2>	
									<div style="margin:10px;">	
									<h3>&#8377; {{j.price}}</h3>	
									<h4>{{j.city}}</h4>
								</div>	
								</div>
									<div class="clearfix"></div>
								</div>
							</a>
								{% endif %}
								{% endfor %}
							
						</div>
					</div>
					{% endfor %}
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</div>
<!--Plug-in Initialisation-->
<script type="text/javascript">
	$(document).ready(function() {

	//Vertical Tab
	$('#parentVerticalTab').easyResponsiveTabs({
			type: 'vertical', //Types: default, vertical, accordion
			width: 'auto', //auto or any width like 600px
			fit: true, // 100% fit in a container
			closed: 'accordion', // Start closed if in accordion view
			tabidentify: 'hor_1', // The tab groups identifier
			activate: function(event) { // Callback function if tab is switched
					var $tab = $(this);
					var $info = $('#nested-tabInfo2');
					var $name = $('span', $info);
					$name.text($tab.text());
					$info.show();
			}
	});
});
</script>
<!-- //Categories -->
{% endblock %}